/.vs/WooliesX/DesignTimeBuild/.dtbcache
/.vs/WooliesX/v15/.suo
/.vs/WooliesX/v15/Server/sqlite3/db.lock
/.vs/WooliesX/v15/Server/sqlite3/storage.ide
/.vs/WooliesX/v15/Server/sqlite3/storage.ide-shm
/.vs/WooliesX/v15/Server/sqlite3/storage.ide-wal
/build-and-zip.bat
/WooliesX.Tests/bin/Debug/netcoreapp2.2/Microsoft.Extensions.Http.dll
/WooliesX.Tests/bin/Debug/netcoreapp2.2/Microsoft.Extensions.Http.xml
/WooliesX.Tests/bin/Debug/netcoreapp2.2/nlog.config
/WooliesX.Tests/bin/Debug/netcoreapp2.2/nunit.engine.netstandard.dll
/WooliesX.Tests/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
/WooliesX.Tests/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
/WooliesX.Tests/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.dll
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.pdb
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.Tests.deps.json
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.Tests.dll
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.Tests.pdb
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.Tests.runtimeconfig.dev.json
/WooliesX.Tests/bin/Debug/netcoreapp2.2/WooliesX.Tests.runtimeconfig.json
/WooliesX.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WooliesX.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WooliesX.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.AssemblyInfo.cs
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.AssemblyInfoInputs.cache
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.assets.cache
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.csproj.CopyComplete
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.csproj.CoreCompileInputs.cache
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.csproj.FileListAbsolute.txt
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.csprojAssemblyReference.cache
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.dll
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.pdb
/WooliesX.Tests/obj/Debug/netcoreapp2.2/WooliesX.Tests.Program.cs
/WooliesX.Tests/obj/project.assets.json
/WooliesX.Tests/obj/WooliesX.Tests.csproj.nuget.cache
/WooliesX.Tests/obj/WooliesX.Tests.csproj.nuget.g.props
/WooliesX.Tests/obj/WooliesX.Tests.csproj.nuget.g.targets
/WooliesX.zip
/WooliesX/bin/Debug/netcoreapp2.1/appsettings.Development.json
/WooliesX/bin/Debug/netcoreapp2.1/appsettings.json
/WooliesX/bin/Debug/netcoreapp2.1/Log-2020-12-28.log
/WooliesX/bin/Debug/netcoreapp2.1/nlog.config
/WooliesX/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/WooliesX/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.APIGatewayEvents.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.ApplicationLoadBalancerEvents.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.AspNetCoreServer.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.Core.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.Logging.AspNetCore.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.Serialization.Json.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/appsettings.Development.json
/WooliesX/bin/Debug/netcoreapp2.1/publish/appsettings.json
/WooliesX/bin/Debug/netcoreapp2.1/publish/Microsoft.Bcl.AsyncInterfaces.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Microsoft.OpenApi.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/nlog.config
/WooliesX/bin/Debug/netcoreapp2.1/publish/NLog.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/NLog.Extensions.Logging.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/NLog.Web.AspNetCore.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Swashbuckle.AspNetCore.Swagger.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/System.Runtime.CompilerServices.Unsafe.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/System.Text.Encodings.Web.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/System.Text.Json.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/web.config
/WooliesX/bin/Debug/netcoreapp2.1/publish/WooliesX.deps.json
/WooliesX/bin/Debug/netcoreapp2.1/publish/WooliesX.dll
/WooliesX/bin/Debug/netcoreapp2.1/publish/WooliesX.pdb
/WooliesX/bin/Debug/netcoreapp2.1/publish/WooliesX.runtimeconfig.json
/WooliesX/bin/Debug/netcoreapp2.1/WooliesX.deps.json
/WooliesX/bin/Debug/netcoreapp2.1/WooliesX.dll
/WooliesX/bin/Debug/netcoreapp2.1/WooliesX.pdb
/WooliesX/bin/Debug/netcoreapp2.1/WooliesX.runtimeconfig.dev.json
/WooliesX/bin/Debug/netcoreapp2.1/WooliesX.runtimeconfig.json
/WooliesX/internalLog.txt
/WooliesX/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/WooliesX/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WooliesX/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WooliesX/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.AssemblyInfo.cs
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.AssemblyInfoInputs.cache
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.assets.cache
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.csproj.CoreCompileInputs.cache
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.csproj.FileListAbsolute.txt
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.csprojAssemblyReference.cache
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.dll
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.genruntimeconfig.cache
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.pdb
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.RazorAssemblyInfo.cache
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.RazorAssemblyInfo.cs
/WooliesX/obj/Debug/netcoreapp2.1/WooliesX.RazorTargetAssemblyInfo.cache
/WooliesX/obj/project.assets.json
/WooliesX/obj/project.nuget.cache
/WooliesX/obj/WooliesX.csproj.nuget.cache
/WooliesX/obj/WooliesX.csproj.nuget.dgspec.json
/WooliesX/obj/WooliesX.csproj.nuget.g.props
/WooliesX/obj/WooliesX.csproj.nuget.g.targets
/WooliesX/internalLog.txt
/WooliesX/internalLog.txt
