<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9bc91e9b-eb2f-4112-b05f-67de584663a0/resourcegroups/DefaultResourceGroup-EAU/providers/Microsoft.Web/sites/WooliesXTest20210803175527</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EAU</ResourceGroup>
    <ApiResourceId>/subscriptions/9bc91e9b-eb2f-4112-b05f-67de584663a0/resourceGroups/DefaultResourceGroup-EAU/providers/Microsoft.ApiManagement/service/WooliesXTestapi/apis/WooliesXTest</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wooliesxtest20210803175527.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>c42089e8-8a8f-47d0-b338-3fab0b40aeca</ProjectGuid>
    <MSDeployServiceURL>wooliesxtest20210803175527.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WooliesXTest20210803175527</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WooliesXTest20210803175527</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>